 P {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    text-shadow: 4cm;
  }
 img {
     border-image: fill;
     border-radius: 50cm;
     display: block;
     margin-left: auto;
     margin-right: auto;
     border-color: black;
     border: 0.1cm solid;
     
 }
 
 div {
     text-align: center;
    
 }
 .button{
    display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #e23d3d;
        border-radius: 6px;
        outline: none;
 }
 body{
  background-image: url("homepage 1.png");
  }
  

 
