body{
    
        background-image: url("homepage 1.png");
        background-size: 240 pixel;
        text-align: center;
}
.button{
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration:none;
    color: #ffffff;
    background-color: #126825;
    border-radius: 6px;
    outline: none;
}
.button1{
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration:none;
    color: #ffffff;
    background-color: #e23d3d;
    border-radius: 6px;
    outline: none;
}
h1{
    border: 1px solid black;
   
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;

}